<!--<div class="post-content">-->
<div class="canza">

    <table class="table">
        <caption>
            <%- canz.cz %>
        </caption>
        <thead>
            <tr>
                <th>材料</th>
                <th>纯度</th>
                <th>制造商</th>
            </tr>
        </thead>

        <tbody>
            <tr class="active">
                <td>
                    <%- canz.cl %>
                </td>
                <td>
                    <%- canz.bl %>
                </td>
                <td>
                    <%- canz.cd %>
                </td>
            </tr>
            <tr class="success">
                <td>
                    <%- canz.cl1 %>
                </td>
                <td>
                    <%- canz.bl1 %>
                </td>
                <td>
                    <%- canz.cd1 %>
                </td>
            </tr>
            <tr class="warning">
                <td>
                    <%- canz.cl2 %>
                </td>
                <td>
                    <%- canz.bl2 %>
                </td>
                <td>
                    <%- canz.cd2 %>
                </td>
            </tr>
            <tr class="danger">
                <td>
                    <%- canz.cl3 %>
                </td>
                <td>
                    <%- canz.bl3 %>
                </td>
                <td>
                    <%- canz.cd3 %>
                </td>
            </tr>
        </tbody>
    </table>

</div>
<!--</div>-->