<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head>-->
    <!--<meta charset="utf-8">-->
    <!--<title><%= blog.title %></title>-->
    <!--<link rel="stylesheet" href="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.css">-->
    <!--<link rel="stylesheet" href="/css/style.css">-->
    <!--<script src="//cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>-->
    <!--<script src="//cdn.bootcss.com/semantic-ui/2.1.8/semantic.min.js"></script>-->
<!--</head>-->
<!--<body>-->


<!--<div class="nav">-->
    <!--<div class="ui grid">-->
        <!--<div class="four wide column"></div>-->

        <!--<div class="eight wide column">-->
            <!--<a href="/posts"><h1><%= blog.title %></h1></a>-->
            <!--<p><%= blog.description %></p>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="nav-setting">-->
    <!--<div class="ui buttons">-->
        <!--<div class="ui floating dropdown button">-->
            <!--<i class="icon bars"></i>-->
            <!--<div class="menu">-->
                <!--<% if (user) { %>-->
                <!--<a class="item" href="/posts?author=<%= user._id %>">个人主页</a>-->
                <!--<div class="divider"></div>-->
                <!--<a class="item" href="/posts/create">创建信息</a>-->
                <!--<a class="item" href="/signout">登出</a>-->
                <!--<% } else { %>-->
                <!--<a class="item" href="/signin">登录</a>-->
                <!--<a class="item" href="/signup">注册</a>-->
                <!--<% } %>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<!--<div class="ui grid">-->
    <!--<div class="four wide column"></div>-->
    <!--<div class="eight wide column">-->

        <!--<% if (success) { %>-->
        <!--<div class="ui success message">-->
            <!--<p><%= success %></p>-->
        <!--</div>-->
        <!--<% } %>-->

        <!--<% if (error) { %>-->
        <!--<div class="ui error message">-->
            <!--<p><%= error %></p>-->
        <!--</div>-->
        <!--<% } %>-->

    <!--</div>-->
<!--</div>-->

<!--<div class="post-content">-->
    <!--<div class="ui grid">-->
        <!--<div class="four wide column">-->
            <!--<a class="avatar"-->
               <!--href="/posts?author=<%= post.author._id %>"-->
               <!--data-title="<%= post.author.name %> | <%= ({m: '男', f: '女', x: '保密'})[post.author.gender] %>"-->
               <!--data-content="<%= post.author.bio %>">-->
                <!--<img class="avatar" src="/img/<%= post.author.avatar %>">-->
            <!--</a>-->
        <!--</div>-->

        <!--<div class="eight wide column">-->
            <!--<div class="ui segment">-->
                <!--<h3><a href="/posts/<%= post._id %>"><%= post.title %></a></h3>-->
                <!--<pre><%- post.content %></pre>-->
                <!--<div>-->
                    <!--<span class="tag"><%= post.created_at %></span>-->
          <!--<span class="tag right">-->
            <!--<span>浏览(<%= post.pv %>)</span>-->
            <!--<span>备注(<%= post.commentsCount %>)</span>-->

              <!--<% if (user && post.author._id && user._id.toString() === post.author._id.toString()) { %>-->
              <!--<div class="ui inline dropdown">-->
                  <!--<div class="text"></div>-->
                  <!--<i class="dropdown icon"></i>-->
                  <!--<div class="menu">-->
                      <!--<div class="item"><a href="/posts/<%= post._id %>/edit">编辑</a></div>-->
                      <!--<div class="item"><a href="/posts/<%= post._id %>/remove">删除</a></div>-->
                  <!--</div>-->
              <!--</div>-->
              <!--<% } %>-->

          <!--</span>-->
                <!--</div>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->
<!--<div class="ui grid">-->
    <!--<div class="four wide column"></div>-->
    <!--<div class="eight wide column">-->
        <!--<div class="ui segment">-->
            <!--<div class="ui minimal comments">-->
                <!--<h3 class="ui dividing header">备注</h3>-->

                <!--<% comments.forEach(function (comment) { %>-->
                <!--<div class="comment">-->
            <!--<span class="avatar">-->
              <!--<img src="/img/<%= comment.author.avatar %>">-->
            <!--</span>-->
                    <!--<div class="content">-->
                        <!--<a class="author" href="/posts?author=<%= comment.author._id %>"><%= comment.author.name %></a>-->
                        <!--<div class="metadata">-->
                            <!--<span class="date"><%= comment.created_at %></span>-->
                        <!--</div>-->
                        <!--<div class="text"><%- comment.content %></div>-->

                        <!--<% if (user && comment.author._id && user._id.toString() === comment.author._id.toString()) { %>-->
                        <!--<div class="actions">-->
                            <!--<a class="reply" href="/posts/<%= post._id %>/comment/<%= comment._id %>/remove">删除</a>-->
                        <!--</div>-->
                        <!--<% } %>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<% }) %>-->

                <!--<% if (user) { %>-->
                <!--<form class="ui reply form" method="post" action="/posts/<%= post._id %>/comment">-->
                    <!--<div class="field">-->
                        <!--<textarea name="content"></textarea>-->
                    <!--</div>-->
                    <!--<input type="submit" class="ui icon button" value="备注" />-->
                <!--</form>-->
                <!--<% } %>-->

            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->





<!--<script type="text/javascript">-->
    <!--// 点击按钮弹出下拉框-->
    <!--$('.ui.dropdown').dropdown();-->
    <!--// 鼠标悬浮在头像上，弹出气泡提示框-->
    <!--$('.post-content .avatar').popup({-->
        <!--inline: true,-->
        <!--position: 'bottom right',-->
        <!--lastResort: 'bottom right',-->
    <!--});-->
<!--</script>-->
<!--</body>-->
<!--</html>-->

<%- include('header') %>

<%- include('components/post-content') %>
<%- include('components/comments') %>

<%- include('footer') %>
